{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="site-module-name container">{% trans %}CUSTOMER{% endtrans %}</div>
        <div class="site-module-title container">Reset Password</div>
        <div class="site-module-content container">

        <div class="row justify-content-center">
            {% if return == 'error' %}
                <div class="card m-2 border" style="width: 28rem; padding: 5px">
                    <div class="text-center">
                        <h5 class="font-weight-bold text-center my-3">Ops! Houve um erro ao validar os dados.</h5>
                        <p>Por favor, tente novamente!<br>Se o problema persistir, informe-nos pelo <a href="{{ baseUri }}/support">canal de suporte</a>.</p>
                        <p>
                            <pre>{ {{ msg }} }</pre>
                        </p>
                    </div>
                </div>

            {% else %}
                <div class="card m-2 border" style="width: 25rem; padding: 5px">
                    <form action="{{ baseUri }}/customer/reset-password" method="POST">
                        <input type="hidden" name="password_recover" value="{{ passwordRecover }}">
                        <div class="form-group form-title text-center">
                            Digite uma Nova Senha
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label><BR>
                            <input type="text" id="email" name="email" placeholder="Email" value="{{ email }}" class="form-control" required readOnly>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label><BR>
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control" autofocus required tabIndex="1">
                        </div>
                        <div class="form-group">
                            <label for="password_confirm">Password Confirm:</label><BR>
                            <input type="password" id="password_confirm" name="password_confirm" placeholder="Password Confirm" class="form-control" required tabIndex="2">
                        </div>
                        <div class="text-center">
                            <input type="submit" value="{% trans %}Send{% endtrans %}" class="btn btn-primary" tabindex="3">
                        </div>
                    </form>
                </div>

            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}